.ant-switch {
  min-width: 49px;
  height: 26px;
  background-color: black;

  .ant-switch-handle {
    position: absolute;
    top: 4px;
    inset-inline-start: 4px;
    width: 18px;
    height: 18px;
    transition: all 0.2s ease-in-out;

    &::before {
      background: url("../../assets/moon.jpg") no-repeat center center;
      background-size: cover;
    }
  }
}

.ant-switch.ant-switch-checked {
  background: rgba(255, 252, 252, 0.638);
  .ant-switch-handle {
    inset-inline-start: calc(100% - 20px);

    &::before {
      background: url("../../assets/sun.png") no-repeat center center;
      background-size: cover;
    }
  }
}
.ant-switch-checked:hover {
  background: #ffffff !important;
}
