.wrapper {
  width: 100%;
  padding: 100px 0;
  display: flex;
  gap: 50px;
  margin: 120px 0;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about_person {
    width: 50%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 30px;

    label {
      display: flex;
      width: 100%;
      gap: 5px;
      border-bottom: 1px solid black;
      text-align: justify;
    }

    @media (max-width: 1000px) {
      display: flex;
    }
  }

  .info {
    width: 50%;
  }

  img {
    width: 100%;
    border-radius: 12px;
  }
  .ant-skeleton.ant-skeleton-active .ant-skeleton-image {
    width: 367px;
    height: 367px;
    @media (max-width: 545px) {
      width: 260px;
      height: 265px;
    }
  }

  #character-table {
    @media (max-width: 1000px) {
      display: none;
    }
  }
}
