.data_list {
  width: 100%;
  text-align: center;
}
.ant-skeleton.ant-skeleton-element .ant-skeleton-image .ant-skeleton-image-svg {
  display: none;
}
.infinite-scroll-component {
  width: 100%;
  height: auto;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: start;
  height: 500px;
  gap: 5px;
  transition: 0.3s;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  img {
    width: 100%;
    border-radius: 12px;
  }

  .ant-skeleton.ant-skeleton-active .ant-skeleton-image {
    width: 254px;
    height: 254px;
  }

  .card_wrapper {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    padding: 10px 0;
    text-transform: capitalize;
  }
  .card-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 1116px) {
  .infinite-row {
    display: flex;
    justify-content: center;
  }
}
